.main-header {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 5rem;
  top: 0;
  width: 100%;
  background: #118bee;
  padding-top: 0;
}

.main-header h1 {
  text-align: center;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
